<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de Nóminas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center mb-4">Generador de Nóminas</h1>
    <div class="row justify-content-center">
        <div class="col-md-6 mb-3">
            <a href="{{ url_for('empleados') }}" class="btn btn-primary btn-block">Administrar Empleados</a>
        </div>
        <div class="col-md-6 mb-3">
            <a href="{{ url_for('nominas') }}" class="btn btn-success btn-block">Generar Nómina</a>
        </div>
        <div class="col-md-6 mb-3">
            <a href="{{ url_for('consultar_nominas') }}" class="btn btn-info btn-block">Consultar Nóminas</a>
        </div>
        <div class="col-md-6 mb-3">
            <a href="{{ url_for('agregar_incapacidad') }}" class="btn btn-warning btn-block">Generar Incapacidad</a>
        </div>
    </div>
</div>

<!-- Scripts de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
